<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.min.boot.mapper.IBbsMapper">

  <insert id="insertBbsParent" parameterType="BbsDTO">
    INSERT INTO bbs_t (
        bbs_no
      , contents
      , user_no
      , create_dt
      , state
      , depth
      , group_no
      , group_order
    ) VALUES (
        bbs_seq.NEXTVAL
      , #{contents}
      , #{userNo}
      , CURRENT_DATE
      , 1
      , 0
      , bbs_seq.CURRVAL
      , 0
    )
  </insert>
  
</mapper>